*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial,sans-serif;
    line-height: 1.7;


}
h3{
    font-weight: normal;
    margin-bottom: 0;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
}
.liImage img{
    width: 25px;
}
.liImage:first-child{
    margin-right:10px;
}

.headerList{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 20px 9px 20px;
    align-items: center;
    width: 100%;

}
.headerList div{
    display: flex;
}
.headerList div:first-child{
    width: 80%;

}
.searchInput input{
    
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    height: 35px;
    width: 100%;
    margin-left: 50px;
}
.searchInput{
    width: 50%;
}
.headerListII,.navBar {
    display: flex;
    list-style-type: none;
    padding-left: 160px;

}
.headerListII div{
    display: flex;
    
}
.headerListII div:last-child{
padding-left: 100px;
}

.headerListII li{
    padding: 6px;
    color: #5f6368;
    font-size: 13px;
}
header{
    border-bottom:1px solid #dfe1e5;
}
.content{
    display: flex;
    margin-top: 10px;
}

.left{
    width: 50%;
    padding-left: 163px;

}

.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.uldivs{
    display: flex;
    justify-content: space-between;
    padding-left: 39px;
    margin-top: 20px;
}
.uldivs ul{
    list-style-type: none;

}
.uldivs ul li{
    margin-bottom: 20px;
}
.uldivs ul li p, .pBox1,.result{
    font-size: 14px;
    color: #3c4043;

}
.result{
    padding-left: 163px;
    margin-top: 5px;
}
.subHeader a{
    font-size: 13px;
    color: #006621;
}
.box2Ul{
    display: flex;
    list-style-type: none;
    font-size: 13px;
    color: #3c4043;
    justify-content: space-between;
}
.pUl{
    font-size: 13px;
    color: #3c4043;

}

.mb20{
    margin-bottom: 20px;
}
.box5Ul{
    list-style-type: none;
    border: 1px solid #dfe1e5;
    border-radius: 8px;
   
}
.box5Ul li{
    border-bottom: 1px solid #dfe1e5;
    padding: 9px 16px 9px 16px;
    font-size: 13px;
    color: #3c4043;
}
.box5Ul .li1{
    font-size: 18px;
    color: #3c4043;
}
.box8{
    display: flex;
    
}
.box8 .rightUl{
  margin-left: 20px;
}
.box8 ul{
    list-style-type: none;
    font-size: 13px;

}
.relatedSrarches{
    color: #222;
    font-weight: normal;
    margin-bottom: 8px;
}
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: lightgray;
}
.navBar{
    background-color: #f2f2f2;
}


.navBar li {
    padding: 10px 20px 10px 0px;
}

.navBar li a {
    color: #5f6368;
    text-decoration: none;
    font-size: 13px;

} 