*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: arial,sans-serif;
    line-height: 1.7;


}
h3{
    font-weight: normal;
}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: ;
}

.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 80px;
}
.liImage img{
    width: 25px;
}
.liImage:first-child{
    margin-right:10px;
}

.headerList{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 20px 9px 20px;
    align-items: center;
    width: 100%;

}
.headerList div{
    display: flex;
}
.headerList div:first-child{
    width: 80%;

}
.searchInput input{
    
    border-radius: 25px;
    border: 1px solid #dfe1e5;
    height: 35px;
    width: 100%;
    margin-left: 50px;
}
.searchInput{
    width: 50%;
}
.headerListII {
    display: flex;
    list-style-type: none;
    padding-left: 160px;

}
.headerListII div{
    display: flex;
    
}
.headerListII div:last-child{
padding-left: 100px;
}

.headerListII li{
    padding: 6px;
    color: #5f6368;
    font-size: 13px;
}
header{
    border-bottom:1px solid #dfe1e5;
}
.content{
    display: flex;
    margin-top: 10px;
}

.left{
    width: 50%;
    padding-left: 163px;

}

.right{
    width: 50%;
    
}
.uldivs{
    display: flex;
    justify-content: space-between;
    padding-left: 39px;
    margin-top: 20px;
}
.uldivs ul{
    list-style-type: none;

}
.uldivs ul li{
    margin-bottom: 20px;
}
.uldivs ul li p, .pBox1,.result{
    font-size: 14px;
    color: #3c4043;

}
.result{
    padding-left: 163px;
    margin-top: 5px;
}